{% extends "chat/base.html" %}

{% block content %}
    {# TODO: 웹소켓으로 실시간 채팅 기능 구현하기 #}

    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="card" style="height: 600px;">
                    <div class="card-header">
                        채팅방 : {{ room_name }}
                    </div>
                    <div class="card-body overflow-hidden">
                        <div id="chat_messages" class="w-100 h-100 border-0 overflow-scroll"></div>
                    </div>
                    <div class="card-footer">
                        <form id="message_form">
                            <input type="text" name="message" class="form-control"
                                   autofocus autocomplete="off" />
                        </form>
                    </div>
                </div>
            </div>

            <hr class="my-3" />

            <a href="{% url 'chat:index' %}" class="btn btn-primary">대기실로 이동</a>
        </div>
    </div>
{% endblock %}
