{% extends "app/base.html" %}

{% block content %}
    <div class="container">
        <h1>Hello</h1>

        <div class="row" id="post-list">
            {% for post in post_list %}
                {% include "app/partial/post.html" with post=post only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra-body %}
<script>
const handlers = {
    ws: null,
    retry: 0,
    connect(ws_url) {
        this.ws = new WebSocket(ws_url || this.ws?.url);

        this.ws.onopen = this.onopen.bind(this);
        this.ws.onclose = this.onclose.bind(this);
        this.ws.onerror = this.onerror.bind(this);
        this.ws.onmessage = this.onmessage.bind(this);
    },
    reconnect() {
        this.connect();
    },
    onopen() {
        console.log("웹소켓 서버와 접속");
        this.retry = 0;
    },
    onclose(event) {
        if(!event.wasClean) {
            console.error("웹소켓 서버가 죽거나 네트워크 장애입니다.");

            if( this.retry < 3 ) {
                this.retry += 1;
                setTimeout(() => {
                    this.reconnect();
                    console.log(`[${this.retry}] 접속 재시도 ...`);
                }, 1000 * this.retry);
            }
            else {
                alert("웹소켓 서버에 접속할 수 없습니다. 사이트 홈으로 이동합니다.");
                window.location.href = "/";
            }
        }
    },
    onerror() {
        console.error("웹소켓 에러가 발생했습니다.");
    },
    onmessage(event) {
        const message_json = event.data;
        console.log("웹소켓 텍스트 메세지 수신 :", message_json);

        const { type, post_id, post_partial_url } = JSON.parse(message_json);

        switch(type) {
            case "liveblog.post.created":
                this.post_created(post_id, post_partial_url);
                break;
            case "liveblog.post.updated":
                this.post_updated(post_id, post_partial_url);
                break;
            case "liveblog.post.deleted":
                this.post_deleted(post_id);
                break;
            default:
                console.error(`Invalid message type : ${type}`);
        }
    },
    post_created(post_id, post_partial_url) {
        fetch(post_partial_url)
            .then(response => response.text())
            .then(html => {
                document.querySelector("#post-list")
                    .insertAdjacentHTML("afterbegin", html);
            });
    },
    post_updated(post_id, post_partial_url) {
        fetch(post_partial_url)
            .then(response => response.text())
            .then(html => {
                const css_selector = `[data-post-id="${post_id}"]`;
                document.querySelector(css_selector).outerHTML = html;
            });
    },
    post_deleted(post_id) {
        const css_selector = `[data-post-id="${post_id}"]`;
        document.querySelector(css_selector).remove();
    }
};

const ws_url = "ws://localhost:8000/ws/liveblog/";
handlers.connect(ws_url);
</script>
{% endblock %}
